# Core
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

# Scientific stack
numpy>=1.23,<2.1
scipy>=1.11,<1.14
librosa>=0.10.1
soundfile>=0.12.1

# Logging / utils
tensorboard>=2.14
yamlargparse>=1.31.1
safe-gpu>=2.0.0

# Pyannote
pyannote.metrics>=3.2
pyannote.core>=5.0